.root {


    -fx-background-image: url("bg.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;

}

.button {
    -fx-background-color: #1c2162;
    -fx-font-size : 15px;
    -fx-text-fill : white;
    -fx-transition : all 2s;
    -fx-border-color: #1c2162;
}

.button:hover {

    -fx-background-color: white;
    -fx-text-fill :#1c2162;
    -fx-border-color: #1c2162;
}

#lbltitle {
    -fx-font-size : 15px;
    -fx-font-weight: bold;

}

.label {
     -fx-font-weight: bolder;
     -fx-font-size : 13px;
}

#lblerror{
 -fx-text-fill :red;
}

#pane1{
    -fx-background-color : white;
    -fx-border-color: black;
    -fx-padding: 20px;
    -fx-width: 200px;
    -fx-height: 150px;

}

#lblcount {
    -fx-font-weight: bolder;
     -fx-font-size : 30px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

#btnMenu {
    -fx-background-color: white;
    -fx-text-fill :#1c2162;
    -fx-border-color: white;
    }

#btnMenu:hover {

   -fx-font-size : 15px;
   -fx-font-weight: bold;
}

#adminsidebar {
-fx-background-color: white;

}

#labeltimedate {
-fx-text-fill :#1c2162;

}


